
.fact {
border-top: #ccc solid 1px;
}

.fact .added {
font-style: italic;
color: #bbb;
}
.fact .added a {
color: #66f;
}

.hide {
display: none;
}

.day-sep {
  color: #666;
}

.pager {
margin-top: 2em;
}

