body
{
	min-width: 920px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff;
	font: normal 0.88em/140% arial, helvetica, verdana, sans-serif;
	color: #000;
}

img, img a
{
	border: 0;
}

#container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

label {
font-weight: bold;
}
label input { width: 90%;}
label textarea { width: 90%; }

label.title { 
width: 400px;
display: block;
float:left;
}
label.details { 
width: 400px;
display: block;
float:left;
}
label.source-name {
width: 400px;
display: block;
float:left;

}
label.source-url {
width: 400px;
display: block;
float:left;
}

label.tags {
width: 400px;
display: block;
float:left;
}

.fact {
width: 950px;
border-top: #ccc solid 1px;
}

.fact h2 {
width: 400px;
float: left;
}
.fact .details {
width: 400px;
float: left;
}
.fact .added {
color: #ddd;
font-style: italic;
}

.hide {
display: none;
}
#usernav {
width: 100%;
background-color: #999;
color: #fff;
text-align: right;
}
#usernav a {
color: #fff;
font-weight: bold;
}
#search {
text-align: right;
}
#search input {
  border: #000 solid 1px;
}
#masthead a {
display: block;
background-color: #000;
color: #fff;
text-decoration: none;
font-size: 20px;
font-weight: bold;
padding: 2px;
}
