{% extends 'base.html' %}
{% load markup %}
{% block title %}{{fact.title}}{% endblock %}

{% block content %}
<div class="fact" id="fact-{{fact.id}}">
<h2>{{fact.title}}</h2>
<div class="details">{{fact.details|markdown}}
{% if fact.facttag_set.count %}
<div class="tags"><b>Tags:</b>
{% for ft in fact.facttag_set.all %}
<a href="{{ft.tag.get_absolute_url}}">{{ft.tag.name}}</a>
{% endfor %}
</div>
{% endif %}
<div class="source"><b>Source</b>: {% if fact.source_url %}<a href="{{fact.source_url}}">{% endif %}{{fact.source_name}}{% if fact.source_url %}</a>{% endif %}</div>
<div class="added">added {{fact.added}} by {{fact.user.username}}</div></div>
</div>
<br style="clear: both" />

{% endblock %}
