{% extends 'base.html' %}
{% load markup %}
{% block js %}
<script src="/site_media/js/jquery-1.4.2.min.js"></script>
{% endblock %}
{% block title %}Welcome{% endblock %}

{% block content %}

<p><a href="#add-form" class="add-form-opener"
      onclick="window.toggleForm();return false">add fact</a></p>
<div id="add-form" class="{% if not source_url %}hide{% endif %}">
<form action="/add/" method="post" class="add-fact">
  
  <label class="title">title<br />
    <input type="text" name="title" />
  </label>

  <label class="details">details<br />
    <textarea name="details" rows="5">{{details}}</textarea>
  </label>

  <label class="source-name">source name<br />
    <input type="text" name="source_name" value="{{source_name}}"/>
  </label>

  <label class="source-url">source URL<br />
    <input type="text" name="source_url" value="{{source_url}}"/>
  </label>
  
  <label class="tags">Tags<br />
    <input type="text" name="tags" />
  </label>

<input type="submit" value="add fact" />
</form>

(<a href="javascript:window.location='http://faktum.thraxil.org/?source_url='+escape(window.location)+';source_name='+escape(document.title)+';details='+escape((window.getSelection)?window.getSelection():document.getSelection());">bookmarklet</a>)
</div>

<br style="clear: both" />

{% for fact in facts %}
<div class="fact" id="fact-{{fact.id}}">
<h2>{{fact.title}}</h2>
<div class="details">{{fact.details|markdown}}
{% if fact.facttag_set.count %}
<div class="tags"><b>Tags:</b>
{% for ft in fact.facttag_set.all %}
<a href="{{ft.tag.get_absolute_url}}">{{ft.tag.name}}</a>
{% endfor %}
</div>
{% endif %}
<div class="source"><b>Source</b>: {% if fact.source_url %}<a href="{{fact.source_url}}">{% endif %}{{fact.source_name}}{% if fact.source_url %}</a>{% endif %}</div>
<div class="added">added <a href="{{fact.get_absolute_url}}">{{fact.added}}</a> by {{fact.user.username}}</div></div>
</div>
<br style="clear: both" />
{% endfor %}

<script>
var toggleForm = function() {
  $("#add-form").toggleClass("hide");
};
</script>
{% endblock %}
