{% extends 'base.html' %}
{% load markup %}
{% block js %}
<script src="/site_media/js/jquery-1.4.2.min.js"></script>
{% endblock %}

{% block css %}
<style type="text/css">
.add-fact input { width: 100%; }
.add-fact textarea { width: 100%; }

</style>
{% endblock %}
{% block title %}Welcome{% endblock %}

{% block content %}

<p class="lead">Track the facts you learn.
{% if not request.user.is_authenticated %}
<a href="/registration/register/">Register now to get started</a>.
Or <a href="/accounts/login/?next=/">Login</a> if you already have an account.
{% endif %}
</p>

{% if request.user.is_authenticated %}
<p><a href="#add-form" class="add-form-opener"
      onclick="window.toggleForm();return false"><i class="icon-plus"></i>add fact</a></p>
<div id="add-form" class="{% if not source_url %}hide{% endif %}">
<form action="/add/" method="post" class="add-fact">

<div class="row">
  <div class="span6">  
      <input type="text" name="title" placeholder="title" />
  </div>

  <div class="span6">
      <textarea name="details" rows="5" placeholder="details">{{details}}</textarea>
  </div>
</div>

<div class="row">
  <div class="span6">
      <input type="text" name="source_name" value="{{source_name}}"
      placeholder="source name"/>
  </div>
  <div class="span6">
      <input type="text" name="source_url" value="{{source_url}}"
      placeholder="source URL"/>
  </div>
</div>

<div class="row">
<div class="span6">
    <input type="text" name="tags" placeholder="tags" />
</div>
<div class="span6">
<input type="submit" value="add fact" class="btn btn-primary" />
</form>

(<a href="javascript:window.location='http://faktum.thraxil.org/?source_url='+escape(window.location)+';source_name='+escape(document.title)+';details='+escape((window.getSelection)?window.getSelection():document.getSelection());">bookmarklet</a>)
</div>
</div>
</div>

<br style="clear: both" />
{% endif %}

{% for fact in facts.object_list %}
{% include "main/fact_include.html" %}
{% endfor %}

<ul class="pager">
    {% if facts.has_previous %}
    <li>
      <a href="?page={{ facts.previous_page_number }}"><i class="icon-arrow-left"></i> previous</a>
    </li>
    {% endif %}
    <li class="current">
      Page {{ facts.number }} of {{ facts.paginator.num_pages }}.
    </li>
    {% if facts.has_next %}
    <li>
      <a href="?page={{ facts.next_page_number }}">next <i class="icon-arrow-right"></i></a>
    </li>
    {% endif %}
</ul>

<script>
var toggleForm = function() {
  $("#add-form").toggleClass("hide");
};
</script>
{% endblock %}
