{% extends 'base.html' %}
{% load markup %}

{% block title %}Welcome{% endblock %}

{% block content %}

<form action="/add/" method="post" class="add-fact">

  
  <label class="title">title<br />
    <input type="text" name="title" />
  </label>

  <label class="details">details<br />
    <textarea name="details" rows="5"></textarea>
  </label>

  <label class="source-name">source name<br />
    <input type="text" name="source_name" />
  </label>

  <label class="source-url">source URL<br />
    <input type="text" name="source_url" />
  </label>

<input type="submit" value="add fact" />
</form>

<br style="clear: both" />

{% for fact in facts %}
<div class="fact" id="fact-{{fact.id}}">
<h2>{{fact.title}}</h2>
<div class="details">{{fact.details|markdown}}
<div class="source"><b>Source</b>: {% if fact.source_url %}<a href="{{fact.source_url}}">{% endif %}{{fact.source_name}}{% if fact.source_url %}</a>{% endif %}</div>
<div class="added">added {{fact.added}} by {{fact.user.username}}</div></div>
</div>
<br style="clear: both" />
{% endfor %}


{% endblock %}
