{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Faktum: {% block title %}{% endblock %}</title>
{% compress css %}
	<link rel="stylesheet" href="/site_media/css/main.css" media="screen" />
	<link rel="stylesheet" href="/site_media/css/print.css" media="print" />
	<!--[if IE 6]>
	<link rel="stylesheet" href="/site_media/css/main_ie6_1col.css" media="screen" />
	<![endif]-->
{% endcompress %}
	<link rel="shortcut icon" href="/site_media/img/favicon.ico" type="image/x-icon" />
	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
	{% block feeds %}{% endblock %}
</head>
<body class="one_column {% block widthtype %}fixed{% endblock %}">
<div id="container">


{% block masthead %}
{% endblock %}

{% block primarynav %}
{% block primarynavtabs %}
{% endblock %}

{% block usernav %}
{% if request.user.is_authenticated %}
logged in as {{request.user.username}}
{% else %}
<a class="loginlink" href="/accounts/login/">login</a>
{% endif %}
{% endblock %}
{% endblock %}

{% block pagetitle %}{% endblock %}
				
{% block content %}{% endblock %}

{% block footer %}
{% endblock %}


</div>
</body>
</html>
