{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Faktum: {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

{% compress css %}
    <!-- Le styles -->
    <link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/site_media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

{% endcompress %}


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
<!-- not working currently 
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/site_media/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/site_media/bootstrap/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/site_media/bootstrap/assets/ico/apple-touch-icon-57-precomposed.png">
-->
	{% block css %}{% endblock %}
	{% block js %}{% endblock %}
	{% block feeds %}{% endblock %}
</head>
<body class="">
<div id="container">


{% block masthead %}
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Faktum</a>

    <form action="/search/" method="get" class="navbar-search pull-right">
      <input type="text" name="q" class="search-query" value="{{q}}" placeholder="search" />
    </form>

          <div class="nav-collapse">
            <ul class="nav">

            </ul>
<p class="navbar-text pull-right">      {% if request.user.is_authenticated %}
        logged in as {{request.user.username}}
        [<a class="logoutlink" href="/accounts/logout/">Logout</a>]
      {% else %}
        [<a class="loginlink" href="/accounts/login/?next=/">Login</a>]
        or [<a href="/registration/register/">Register</a>]
      {% endif %}
</p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% endblock %}

{% block primarynav %}
  {% block primarynavtabs %}
  {% endblock %}

  {% block usernav %}
    <div id="usernav">
    </div>
  {% endblock %}


{% endblock %}

{% block pagetitle %}{% endblock %}
				
<div class="container">{% block content %}{% endblock %}</div>

{% block footer %}
{% endblock %}


</div>
{% compress js %}
    <script src="/site_media/bootstrap/js/bootstrap.min.js"></script>
{% endcompress %}
</body>
</html>
